// Basic settings, custom
$prefix: "la-g-";
$width: 100%;
$margin: 0 20px 20px 0;


// Fonts
@import "fonts";
$heading-font-family: "Benton Gothic Bold", "Helvetica", Arial, sans-serif;
$heading-font-weight: normal;
$heading-font-style: normal;
$heading-font-size: 24px;
$heading-font-line-height: 24px;

$utility-font-family: "Benton Gothic Regular", "Helvetica", Arial, sans-serif;
$utility-font-weight: normal;
$utility-font-style: normal;
$utility-font-size: 20px;
$utility-font-line-height: 23px;


@mixin heading-font {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-style: $heading-font-style;
  font-size: $heading-font-size;
  line-height: $heading-font-line-height;
}

@mixin utility-font {
  font-family: $utility-font-family;
  font-weight: $utility-font-weight;
  font-style: $utility-font-style;
  font-size: $utility-font-size;
  line-height: $utility-font-line-height;
}

// Colors
$primary-color: #d17334;
$primary-shade-1: #006da2;
$primary-shade-2: #b93d36;
$primary-shade-3: #245d37;
$primary-shade-4: #875e47;
$primary-shade-5: #926a2b;
$primaryShades: $primary-shade-1, $primary-shade-2, $primary-shade-3, $primary-shade-4, $primary-shade-5;

$alternate-color: #c1963f;
$alternate-shade-1: #544987;
$alternate-shade-2: #d0693a;
$alternate-shade-3: #a82f42;
// Last two colors aren't our palette
$alternate-shade-4: #fcbba1;
$alternate-shade-5: #fee5d9;
$alternateShades: $alternate-shade-1, $alternate-shade-2, $alternate-shade-3, $alternate-shade-4, $alternate-shade-5;

$black: #000;
$darkgray: #333;
$text: #666;
$lightgray: #999;
$verylightgray: #ddd;
$white : #fff;

$axis-stroke-color: $text;
$grid-line-color: $verylightgray;
$zero-line-color: $verylightgray;
$axis-stroke-width: 1px;
$axis-stroke-dasharray: 2, 4px;
$line-stroke-width: 2px;

$series-count-max: 5;

// Overall color palette, in case we can build this in
// $chart-colors = \
//     #d17334 \
//     #006da2 \
//     #b93d36 \
//     #245d37 \
//     #875e47 \
//     #926a2b \
//     #c1963f \
//     #544987 \
//     #d0693a \
//     #a82f42 \
//     #333 \
//     #666 \
//     #999 \
//     #ccc