// Chart text
.#{$prefix}chart_title {
    color: $black;
}

.#{$prefix}chart_source {
    text-transform:none;
    color: $lightgray;
}


// Axes
.#{$prefix}zero-line {
    stroke: $zero-line-color;
}

.#{$prefix}axis-group g.tick line {
    stroke: $grid-line-color;
}

.#{$prefix}axis-group text {
    fill: $text;
}

// Tip line
.#{$prefix}tip_line-x {
    stroke: $lightgray;
}